<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright (c) Douglas Associates 2011. All Rights Reserved. 
     Licensed for use under the Microsoft Public License which is included by reference here. -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SmtpProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="TraceListener"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="TraceListener"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="TraceListener"/>
        </listeners>
      </source>
      <source name="SmtpProxy">
        <listeners>
          <add name="TraceListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--By default, trace data is written to the same directory where the EXE is located.
          The default filename is SmtpProxy.trace.log. 
          You can change the initializeData value to specify another filename or location. 
        -->
      <add
        name="TraceListener"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="SmtpProxy.trace.log"
                />
    </sharedListeners>
    <!--Use these switches to turn logging on or off and to set the level of messages written to the log file.
        Valid values are Off, Error, Warning, Info, and Verbose. 
      -->
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Sockets" value="Verbose" />
      <add name="System.Net.Cache" value="Verbose" />
      <add name="SmtpProxy" value="Verbose" />
    </switches>
  </system.diagnostics>
  <applicationSettings>
    <!--SmtpProxy.Properties.Settings and their default values:
        PortToListenOn - default 25 - The port number that the SmtpProxy program will listen on
        SmtpHostUrl - default smtp.live.com - The URL of the SMTP server that SmtpProxy will connect to
        SmtpPort - default 587 - The port number of the SMTP server that SmtpProxy will connect to 
      -->
    <SmtpProxy.Properties.Settings>
      <setting name="PortToListenOn" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="SmtpHostUrl" serializeAs="String">
        <value>smtp.live.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>587</value>
      </setting>
    </SmtpProxy.Properties.Settings>
  </applicationSettings>
</configuration>